.agrad-container {
    margin: 4em 2em;
}

.agrad-titulo {
    text-align: center;
    font-family: var(--fonte-sec);
    font-size: 28px;
    font-weight: 800;
}

.agrad-texto {
    margin: 1.5em 0 1em 0;
    text-align: justify;
    font-size: 14px;
    text-indent: 2em;
    line-height: 16px;
}