.swiper {
    text-align: center;
}

.carrossel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    width: 60%;
}


.carrossel {
    margin: 0 2em;
}

.carrossel-titulo {
    font-family: var(--fonte-sec);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}

.carrossel-texto {
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin: 1.5em 0 1em 0;
    text-indent: 2em;
    line-height: 16px;
}
